header {
  width: 100%;
  /* position: fixed;
    top : 0;
    left: 0; */
  padding-top: 60px;
  background-color: #f0f0f3;
  font-weight: 300;
}
nav {
  width: 86%;
  position: relative;
  border-bottom: 1px solid var(--black);
  padding-bottom: 15px;
}
.navLeft-side {
  display: flex;
  align-items: center;
}
.nav-logo {
  width: 73px;
  height: 37px;
  cursor: pointer;
}
.nav-title {
  font-size: 30px;
  color: var(--blue);
  text-decoration: none;
  font-weight: 200;
  letter-spacing: 1px;
  transition: 0.3s all;
}
.navbarHeartIcon {
  width: 25px;
  height: 23px;
  cursor: pointer;
}
.useAccountProfileModal div{
  max-width: 400px !important;
}
.avatarWrap {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #06abc8;
  font-size: 23px;
  color: white;
  cursor: pointer;
}
.mobileUserAvatar {
  width: 90px;
  height: 90px;
}
.nav-title:hover {
  color: var(--textHoverBlue);
}
.navbar-link {
  cursor: pointer;
}
.navbar-link:hover {
  /* background-color: #f8f8f8; */
}
.navbar-link:hover a {
  color: var(--textHoverBlue) !important;
  /* background-color: #f8f8f8; */
}
.navbar-link a {
  padding: 10px 15px !important;
  font-size: 16px;
  color: var(--black) !important;
}
.navbar-link:hover ~ a {
  /* background-color: #f8f8f8 !important; */
  color: var(--textHoverBlue) !important;
}
.searchInput {
  border-radius: 10px !important;
  height: 46px !important;
  width: 90% !important;
  min-width: 230px;
  border-color: var(--black) !important;
  background-color: transparent !important;
}
.searchInput::placeholder {
  font-weight: 200;
  font-style: italic;
  font-size: 14px;
}
.searchInput:focus {
  box-shadow: none !important;
}
.menu_icon {
  cursor: pointer;
  height: 35px;
  width: 40px;
  display: none;
  transform: rotate(180deg);
}
.menu_icon .top_bar {
  width: 33px;
  height: 2px;
  background-color: var(--black);
  margin: 6px 0;
}
.menu_icon .middel_bar {
  width: 33px;
  height: 2px !important;
  transition: 0.3s all;
  background: var(--black) !important;
}
.menu_icon .bottom_bar {
  width: 33px;
  transition: 0.5s all;
  height: 2px;
  background-color: var(--black);
  margin: 6px 0;
}
.mobile-menu ul .navbar-link {
  width: 100%;
}
.mobile-menu ul .navbar-link a {
  display: inline-block;
  width: 100%;
  height: 40px;
  padding: 15px 15px;
}
